<%= form_with model: product do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  
  <div class="mb-4">
  <%= form.label :cost, class: "block text-sm font-medium text-gray-700" %>
  <%= form.number_field :cost, step: 0.01, class: "mt-1 block w-full rounded border-gray-300 shadow-sm" %>
  </div>

    <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.rich_text_area :description %>
   </div>

    <div>
    <%= form.label :featured_image, style: "display: block" %>
    <%= form.file_field :featured_image, accept: "image/*" %>
    </div>

    <div>
    <%= form.label :inventory_count, style: "display: block" %>
    <%= form.number_field :inventory_count %>
    </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
